@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap');
/* color variables */
:root{
    --black:#303030;
    --white:#f6f6f6;
    --yellow-pokemon:#FFCC00;
    --light-blue-pokemon:#0075BE;
    --dark-blue-pokemon: #0A285F;
    --red-bright-pokemon:#FB1B1B;
    --red-medium-pokemon: #CE2211;
    --red-light-pokemon:#E54222;
    --gray-pokemon: #DFDFDF;
}
/* pokemon color variables */
/* :root{
    --normal:#a8a77a;
    --fire: #ee8130;
    --water: #6390f0;
    --electric:#f7d02c;
    --grass:#7ac74c;
    --ice:#96d9d6;
    --fighting:#c22e28;
    --poison:#a33ea1;
    --ground:#e2bf65;
    --flying:#a98ff3;
    --psychic:#f95587;
    --bug:#a6b91a;
    --rock:#b6a136;
    --ghost:#735797;
    --dragon:#6f35fc;
    --dark:#705746;
    --steel: #b7b7ce;
    --fairy:#d685ad;
} */
/* font variables */
:root{
    --architect: 'Architects Daughter', cursive;
    --fredoka: 'Fredoka One', cursive;
}
/* general variables */
:root{
    --box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
/* pokemon class colors */
.normal {
    background-color: #a8a77a;
}
.fire {
    background-color: #ee8130;
}
.water {
    background-color: #6390f0;
}
.electric {
    background-color: #f7d02c;
}
.grass {
    background-color: #7ac74c;
}
.ice {
    background-color: #96d9d6;
}
.fighting {
    background-color: #c22e28;
}
.poison {
    background-color: #a33ea1;
}
.ground {
    background-color: #e2bf65;
}
.flying {
    background-color: #a98ff3;
}
.psychic {
    background-color: #f95587;
}
.bug {
    background-color: #a6b91a;
}
.rock {
    background-color: #b6a136;
}
.ghost {
    background-color: #735797;
}
.dragon {
    background-color: #6f35fc;
}
.dark {
    background-color: #705746;
}
.steel {
    background-color: #b7b7ce;
}
.fairy {
    background-color: #d685ad;
}
/* general styles*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    /* height: 100vh;
    background-image: url('./assets/images/landscape_desktop_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: fadeIn 1s ease forwards; */
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    font-family:var(--architect) ;
    font-size: 1rem;
    letter-spacing: 2px;
    height: 100vh;
    background-image: url('./assets/images/landscape_desktop_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: fadeIn 1s ease forwards;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2,h3,h4,h5,h6{
    font-family: var(--fredoka);
}
input{
    color: inherit;
    background-color: var(--white);
    border-radius: 50px;
    outline: none;
    border: 2px solid transparent;
    box-shadow: none;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 5px;
    transition: all 0.2s ease-in-out;
}
input::placeholder{
    color: var(--gray-pokemon);
}
input:hover{
    border-color: var(--yellow-pokemon);
}
input:focus{
    border-color: var(--yellow-pokemon);

}
.container{
    margin: 50px auto;
    width: 80%;
    max-width: 1200px;
    border-radius: 20px;
    padding: 50px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: var(--box-shadow);
    /* box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1); */
    animation: fadeIn 1s ease forwards;
    /* animation-delay: 1s; */
    opacity: 0;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
    background: var(--black);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
    background: var(--red-medium-pokemon);
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.5s;
}
header img{
    width: 100%;
    max-width: 400px;
}

/* form */
form.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:0;
}
.searchInputContainer{
    position: relative;
}
#searchInput{
    font-size: 1.6rem;
    padding: 10px 20px;
    padding-left: 55px;
    text-align: center;
}
.searchInputContainer::after{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    z-index: 2;
    width: 30px;
    height: 30px;
    background: url('./assets/images/pokeball.png') no-repeat center center/cover;
}
/* main container */
.container.mainContainer{
    backdrop-filter: none;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}
/* card */
.card{
    position: relative;
    height: 268px;
    width: 200px;
    border-radius: 10px;
    float: none;
    perspective: 1000px;
    opacity: 0;
    /* opacity: 1; */
    animation: fadeIn 1s ease forwards;
    /* animation-delay: 1.8s; */
    transition: transform 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.02);
}
.heartIcon{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 1.6rem;
    color: #999;
    opacity: 0.7;
}
.heartActive{
    color: crimson;
    animation: wobble 0.2s ease-in-out;
}
.compareIcon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    height:30px;
    background-color: var(--white);
    border-radius: 50px;
    border: 1px solid var(--black);
    font-size: 2rem;
    font-weight: bold;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
}
.compareIcon1{
    top: 2px;
    left: 2px;
    background-color: var(--yellow-pokemon);
}
.compareIcon2{
    top: 35px;
    left: 2px;
    color: var(--white);
    background-color: var(--dark-blue-pokemon);
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
    
}
.content{
    transition: transform 2s;
    animation: flip 1s ease-in-out forwards;
    /* animation-delay: 2s; */
    /* transform: rotate3d(180deg); */
}
.frontCard,
.backCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 60px;
    border-radius: 10px;
    cursor: pointer;
    backface-visibility: hidden;
}
.backCard{
    overflow: hidden;
    background-color: #0075BE;
}
.backCard img{
    width: 100%;
    height: 100%;
    transform: scale(1.09);
}
.frontCard {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: rotateY( 180deg );
    background-color: var(--yellow-pokemon);
    background-color: var(--gray-pokemon);
    border:10px solid var(--dark-blue-pokemon);
    padding: 10px;
}
.cardImageContaier{
    flex: 1;
    height: 100px;
    aspect-ratio: 1/1;
    background-color: var(--white);
    border: 1px solid var(--black);
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.cardImageContaier img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
.cardInfoContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.cardName{
    font-size: 1.2rem;
    margin: auto;
    font-family: var(--architect);
}
.type{
    font-size: 1rem;
    /* border: 1px solid var(--black); */
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    /* color: var(--white); */
}
/* compare container */
.compareContainer{
    background-color: rgba(255, 255, 255, 0.9);
    background-color: var(--white);
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
}
.compareTitle{
    text-align: center;
    margin:20px auto;
}
.compareStats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.compareStats li{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.compareText{
    font-size: 1.2rem;
}
/* pagination */
.paginationContainer{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}
.prevBtn,.nextBtn,.pageBtn{
    border: 1px solid var(--black);
    margin-right:3px ;
    padding: 3px 6px;
    font-size: 1rem;
    color: var(--black);
    cursor: pointer;
    background-color: var(--gray-pokemon);
    margin-bottom: 3px;
    transition: all 0.2s ease-in-out;
}
.prevBtn:hover,.nextBtn:hover,.pageBtn:hover{
    background-color: var(--yellow-pokemon);
}
.activePageBtn{
    background-color: var(--yellow-pokemon);
}
/* spinner */
.spinnerContainer{
    transform: translateY(-280px);
    /* margin-top: 50px; */
}
.spinnerImageContainer{
    margin: auto;
    width: 100px;
    aspect-ratio: 1/1;
    animation: spinning 1s ease-out infinite;
}
.spinnerImageContainer img{
    width: 100%;
}
/* footer */
footer{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
}
.footerLink{
    margin-left: 10px;
    transition: color 0.2s ease-in-out;
}
.footerLink:hover{
    color: var(--red-medium-pokemon);
}
/* animations */
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes flip {
    0%{
        transform: rotateY( 0deg )
    }
    100%{
        transform: rotateY( 180deg )
    }
}
@keyframes spinning {
    100%{
        transform: rotate(360deg);
    }
}
@keyframes wobble {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/* media queries */
@media(max-width:700px){
    body{
        background-position: bottom;
        background-image: url('./assets/images/landscape_mobile_2.jpg');
    }
    .container{
        width: 95%;
    }
}
@media(max-width:500px){
    .container{
        /* width: 98%; */
    }
}