@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap');
/* color variables */
:root{
    --normal:#a8a77a;
    --fire: #ee8130;
    --water: #6390f0;
    --electric:#f7d02c;
    --grass:#7ac74c;
    --ice:#96d9d6;
    --fighting:#c22e28;
    --poison:#a33ea1;
    --ground:#e2bf65;
    --flying:#a98ff3;
    --psychic:#f95587;
    --bug:#a6b91a;
    --rock:#b6a136;
    --ghost:#735797;
    --dragon:#6f35fc;
    --dark:#705746;
    --steel: #b7b7ce;
    --fairy:#d685ad;
}
/* font variables */
:root{
    --architect: 'Architects Daughter', cursive;
    --fredoka: 'Fredoka One', cursive;
}
/* general */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:var(--architect) ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2,h3,h4,h5,h6{
    font-family: var(--fredoka);
}
/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
}
header img{
    width: 100%;
    max-width: 400px;
}
/* main container */
.mainContainer{
    height: 100vh;
    background-image: url('./assets/images/landscape_desktop_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
/* media queries */
@media(max-width:700px){
    .mainContainer{
        background-position: bottom;
        background-image: url('./assets/images/landscape_mobile_2.jpg');
    }
}